{{#extends 'base'}}
{{#block 'content'}}
<h1>Order Management</h1>
<form method="POST" action="/create">
    <input type="text" name="customerName" placeholder="Customer Name">
    <input type="text" name="productName" placeholder="Product Name">
    <input type="number" name="quantity" placeholder="Quantity">
    <button type="submit">Create Order</button>
</form>
{{/block}}
{{/extends}}
